* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}

body {
  background-color: #A4978E;
  display: flex;
}

.calculator {
  border-color: #525B56;
  border-style: solid;
  border-radius: 1rem;
  background-color: #525B56;
  box-shadow: 5px 2px 2px #414844;
}

#display, .calculator-key {
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 3rem;
  outline: none;
  border-color: none;
}

#display {
  width: 24rem;
  height: 6rem;
  background-color: #132226;
  border-color: #132226;
  box-shadow: 5px 2px 2px #626664;
}

.line {

}

.calculator-key {
  width: 5rem;
  height: 5rem;
  background-color: #98734F;
  border-color: #98734F;
  box-shadow: 5px 2px 2px #BC9F82;
}

.calculator-key:active {
  border: none;
}

#key-0 {
  width: 11.3rem;
}

#key-AC, #key-plusMinus, #key-percent {
  background-color: #D1B191;
  border-color: #D1B191;
  box-shadow: 5px 2px 2px #886747;
}

#key-divide, #key-multiply, #key-minus, #key-plus, #key-equals {
  background-color: #BE9063;
  border-color: #BE9063;
  box-shadow: 5px 2px 2px #886747;
}
