* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  background-color: #A4978E;
  display: flex;
  height: 100vh;
  margin: 0;
}

.calculator {
  border-color: #525B56;
  border-style: solid;
  border-radius: 1rem;
  background-color: #525B56;
  box-shadow: 5px 2px 2px #414844;
  padding: 0.8rem;
  max-width: 23rem;
  max-height: 34rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#calculator-display, .calculator-key {
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 3rem;
  outline: none;
  border-color: none;
  position: relative;
}

#calculator-display {
  width: 20rem;
  height: 5.5rem;
  background-color: #132226;
  border-color: #132226;
  box-shadow: 5px 2px 2px #626664;
  color: white;
  font-size: 3rem;
  text-align: right;
  font-family: sans-serif;
  padding-right: 1.5rem;
}

.calculator-key-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.line {
  display: grid;
  grid-template-columns: 5.3rem 5.3rem 5.3rem 5.3rem;
}

#line-5 {
  grid-template-columns: 10.6rem 5.3rem 5.3rem;
}

.calculator-key {
  width: 4rem;
  height: 4rem;
  background-color: #98734F;
  border-color: #98734F;
  box-shadow: 5px 2px 2px #BC9F82;
  position: relative;
}

.calculator-key:active {
  border: solid 4px;
  border-color: #886747;
}

#key-0 {
  width: 9.3rem;
}

#key-AC, #key-plusMinus, #key-percent {
  background-color: #D1B191;
  border-color: #D1B191;
  box-shadow: 5px 2px 2px #886747;
}

#key-AC:active, #key-plusMinus:active, #key-percent:active {
  border: solid 4px;
  border-color: #967f68;
}

.key-operator {
  background-color: #BE9063;
  border-color: #BE9063;
  box-shadow: 5px 2px 2px #886747;
}

.key-operator:active {
  border: solid 4px;
  border-color: #72563b;
}

.pressed {
  border: solid 4px;
  border-color: #72563b;
}
